<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Example</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .navbar-custom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f8f9fa;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .navbar-brand {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 29rem;
      color: blue;
    }
    .navbar-brand img {
      margin-right: 10px;
    }
    .main-container {
      display: flex;
      height: 80vh; /* Full viewport height */
      background-color: #f8f9fa;
    }
    .image-container, .form-container-wrapper {
      flex: 1; /* Flex-grow to take up equal space */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .left-image {
      height: 75vh; /* Full height of the container */
      object-fit: cover; /* Ensure the image covers the entire container */
      width: 90%; /* Ensure the image fills the entire container width */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .form-container {
      width: 100%; /* Full width of the container */
      max-width: 500px; /* Max width for the form */
      padding: 2.5rem; /* Padding for the form */
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f8f9fa;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-custom">
    <a class="navbar-brand " href="#">
      <img src="icon.png" alt="Icon" style="width: 30px; height: 30px;">
      Movie Point
    </a>
    <form class="form-inline ml-auto mr-5 searchForm " action="/search" method="get">
      <input class="form-control mr-1 searchQuery " type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <a href="/logout" class="btn btn-outline-danger">Logout</a>
  </nav>
  